:root {
  --primary-color: rgb(52, 55, 60);
  --secondary-color: #990000;
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Libre Baskerville", serif;
}

body {
  margin: 0 30px 40px;
}
.hero {
  padding: 120px 0 40px 0;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--primary-color);
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: italic;
}

.contact-btn {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  border: 1.5px solid var(--secondary-color);
  color: var(--secondary-color);
}

.contact-btn:hover {
  color: #800000;
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 18px;
  margin: 25px 0;
}

img {
  border-radius: 6px;
}

.learn-btn {
  margin-bottom: 50px;
}

.container {
  margin-bottom: 50px;
}

.email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
}

.content-container {
  margin-top: 100px;
  max-width: 100%;
  margin-bottom: 100px;
}

h2 {
  font-size: 18px;
}

.about-text {
  font-size: 14px;
}

.comment {
  font-size: 12px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 38px;
}

nav ul {
  padding: 0;
}

nav {
  padding: 20px;
}

nav a {
  margin-left: 15px;
  text-decoration: none;
  color: var(--primary-color);
  opacity: 0.8;
}

nav a:hover,
.email-link:hover {
  color: var(--secondary-color);
}

.active {
  color: var(--primary-color);
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 100px;
}

.social-links i {
  margin: 0 8px;
  color: var(--secondary-color);
  background-color: #fff8f8;
  padding: 10px;
  border-radius: 50px;
}

.contact-box {
  background-color: #fff8f8;
  padding: 30px 70px;
  border-radius: 8px;
}

footer .contact-btn {
  color: white;
  background-color: var(--secondary-color);
}

footer .contact-btn:hover {
  border: 1.5px solid var(--secondary-color);
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 28px;
}

@media (max-width: 576px) {
  .project-description {
    padding: 0;
    text-align: center;
  }

  .contact-box {
    padding: 20px;
  }
}

.foot {
  margin-top: 80px;
  font-size: 13px;
  color: var(--primary-color);
  opacity: 0.7;
}

.foot a {
  color: var(--secondary-color);
}
