:root {
  --primary-color: rgb(52, 55, 60);
  --secondary-color: #990000;
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Libre Baskerville", serif;
}

body {
  margin: 0 30px 40px;
}
.hero {
  padding: 160px 0 40px 0;
}
h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  color: var(--primary-color);
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-style: italic;
}

.contact-btn {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  line-height: 25px;
  border: 1.5px solid var(--secondary-color);
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}

.contact-btn:hover {
  color: #800000;
}

h3 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-style: normal;
  color: var(--secondary-color);
  font-size: 18px;
  margin: 25px 0;
}

img {
  border-radius: 6px;
}

.learn-btn {
  margin-bottom: 30px;
}

.container {
  margin-bottom: 100px;
}

.email-link {
  text-decoration: none;
  color: black;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
}
